* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition-duration: 300ms;
}
html, body {
	width: 100%;
}
body {
	font-family: -apple-system, Arial, sans-serif;
	background-color: #eceff1;
	color: #000000;
}
a {
	color: #12005e;
	text-decoration: none;
	border-bottom: 1px solid;
}
a:hover {
	color: #4caf50;
}
h1, h2, h3 {
	line-height: 1.1em;
	letter-spacing: .015em;
	margin-bottom: .5em;
	font-weight: 700;
}
.content {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.navigation {
	padding: 1.5em 3em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #12005e;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}
#logo {
	font-size: 1.25em;
	padding-left: 1.50em;
	background-image: url('../img/memoji.png');
	background-repeat: no-repeat;
	background-size: auto 1em;
	background-position: 0 center;
	text-decoration: none;
	color: #eceff1;
	font-weight: 700;
	border-bottom: none;
}
.menu {
	list-style-type: none;
	color: white;
}
.menu li {
	display: inline-block;
	margin-right: 1em;
	font-size: 1.25em;
}
.menu li:last-child {
	margin-right: 0;
}
.menu li a {
	text-decoration: none;
	color: #eceff1;
}
.menu li a:hover {
	color: #4caf50;
}
.button {
	// display: inline-block;
	color: #4caf50 !important;
	border: #4caf50 1px solid;
	padding: .3em .5em;
	text-decoration: none;
	border-radius: .5em;
}
.button:hover {
	color: white !important;
	background-color: #4caf50;
	padding: .3em .5em;
	text-decoration: none;
	border-radius: .5em;
}
.header {
	display: flex;
	flex-direction: row;
	background-color: #12005e;
	color: #eceff1;
	padding: 3em;
	padding-top: 10em;
}
label {
	margin-bottom: .25em;
	color: #eceff1;
	font-size: 1.25em;
}
.green {
	color: #4caf50;
}
.error {
	color: #f44336;
}
h1 {
	font-size: 4em;
}
.icon {
	padding-top: 44px;
	background-size: 32px auto;
	background-repeat: no-repeat;
}
.chart {
	background-image: url('../img/icon-chart.png');
}
.table {
	background-image: url('../img/icon-table.png');
}
.realty {
	background-image: url('../img/icon-realty.png');
}
.resume {
	background-image: url('../img/icon-resume.png');
}
.tourism {
	background-image: url('../img/icon-tourism.png');
}
.research {
	background-image: url('../img/icon-research.png');
}
.sheet {
	background-image: url('../img/icon-sheet.png');
}
.cloud {
	background-image: url('../img/icon-cloud.png');
}
.api {
	background-image: url('../img/icon-api.png');
}
.header p {
	font-size: 1.5em;
	margin-bottom: 0.5em;
}
.header div {
	flex: 3;
	padding-right: 3em;
}
.header .form {
	width: 100%;
	flex: 2;
	display: flex;
	flex-direction: column;
	border-radius: 1em;
	padding-right: 0;
}
input, textarea {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	border-style: none;
	margin-bottom: 1em;
	font-size: 1.25em;
	padding: 1em;
	border-radius: .5em;
	width: 100%;
}
input:last-child {
	margin-bottom: 0;
}
textarea {
	height: 8em;
}
input[type="text"], textarea {
	background-color: #cfd8dc;
	color: #455a64;
}
input[type="text"]::placeholder, textarea::placeholder {
	color: #90a4ae;
}
input[type="button"] {
	background-color: #4caf50;
	color: #eceff1;
}
input[type="button"]:hover {
	background-color: #8bc34a;
}
#message {
	display: none;
}
.features {
	padding: 3em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.padding-top {
	padding-top: 8em;
}
.features h2 {
	margin-bottom: 1em;
	flex-basis: 100%;
	font-size: 3em;
}
.features h3 {
	font-size: 1.5em;
}
.features p {
	margin-bottom: 1em;
	font-size: 1.25em;
	color: #546e7a;
}
.features .feature {
	flex: 1 0 33%;
	padding-right: 1.5em;
	padding-bottom: 2em;
	max-width: 33%;
}
.features .tariff {
	flex: 1 0 50%;
}
.features:nth-child(even) {
	background-color: #cfd8dc;
}

.tariff {
	list-style-type: none;
}
.tariff .name {
	font-size: 1.5em;
	font-weight: 700;
}
.tariff .price {
	font-size: 5em;
}

.footer {
	padding: 3em;
}

.parsers {
	list-style-type: none;
}
.parsers li {
	margin-bottom: 1em;
}

.footer p {
	font-size: 1em;
	color: #546e7a;
	margin-bottom: 1em;
}

.posts {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 3em;
}
.post {
	flex: 1 0 50%;
	max-width: 50%;
	padding-right: 2em;
	padding-bottom: 2em;
}
.post h2 {
	line-height: 1.4em;
	letter-spacing: .015em;
	margin-bottom: .5em;
	font-weight: 700;
}
.post p {
	margin-bottom: 1em;
	font-size: 1.25em;
	color: #546e7a;
}
.article {
	padding: 3em;
	padding-top: 8em;
	padding-right: 30%;
}
.article h2 {
	font-size: 3em;
}
.article p {
	margin-bottom: 1em;
	font-size: 1.25em;
	color: #546e7a;
}
.article ul {
	margin-bottom: 1em;
	font-size: 1.25em;
	color: #546e7a;
}
@media (max-width: 720px) {
	.navigation {
		padding: 1.5em 2em;
	}
	.header {
		padding: 2em;
		padding-top: 8em;
		flex-direction: column;
	}
	.header div {
		margin-bottom: 2em;
	}
	.header .form {
		flex: 1;
		margin: 0;
		border-radius: .25em;
	}
	h1 {
		font-size: 3em;
	}
	.header p {
		font-size: 1.25em;
	}
	input, textarea {
		font-size: 1em;
	}
	.features {
		padding: 2em 2em;
		flex-direction: column;
	}
	.features h2 {
		font-size: 2em;
		margin-bottom: 1.5em;
	}
	.features .feature {
		max-width: 100%;
	}
	.feature h3 {
		font-size: 1.5em;
	}
	.posts {
		padding: 2em;
		flex-direction: column;
	}
	.post {
		max-width: 100%;
	}
	.article {
		padding: 2em;
		padding-top: 8em;
	}
	.article h1 {
		font-size: 2em;
	}
	.article h2 {
		font-size: 1.5em;
	}
	.article p {
		margin-bottom: 1em;
		font-size: 1.25em;
		color: #546e7a;
	}
	.article ul {
		margin-bottom: 1em;
		font-size: 1.25em;
		color: #546e7a;
	}
	.footer {
		padding: 2em 2em;
	}
}
